@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The title tells you we aren't that kind of dungeon, yet you're curious enough to venture into our About page.</p>

<p>Don't worry we'll try and explain what that means about our program.</p>

<p>In this program you will be on an adventure, who knows how silly or crazy it might get but it's an adevnture.</p>

<p>You might not know your left from your right right away, we don't expect you to be able to.</p>

<p>However we do expect to see you smile, laugh, giggle, maybe even cry whether out of shock or joy. Just enjoy the experience.</p>