@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    We are unlocatable, BUT if you must find us. Perhaps you can put together enough clues by playing the game.
</address>